{
  "presets": ["env", "react"],
  "plugins": [
    ["transform-object-rest-spread",
      {
        "useBuiltIns": true
      }
    ],
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}
